@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100 md:text-base text-sm;
  }

  a {
    @apply block;
  }
}

@layer components {
  .active-link {
    @apply after:content-[''] after:h-[3px] after:rounded-t-md after:w-full after:absolute after:bottom-[0px] after:left-0 after:bg-yellow-500;
  }

  .main-height {
    height: calc(100vh - 5rem);
  }

  .gradient {
    background: linear-gradient(rgb(225 225 230), transparent);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer utilities {
  a.test + a {
    @apply pt-8 mt-8 border-t border-gray-700;
  }
}
