// Colors
$blue: #61dcfb;
$green: #04d361;
$yellow: #eba417;
$text-title: #e1e1e6;
$text-base: #a8a8b3;
$shape-tertiary: #323238;
$shape-secondary: #29292e;
$shape-primary: #1f2729;
$background: #121414;

// Breakpoints
$breakpoints: (
  tablet: 640px,
  laptop: 1024px,
  desktop: 1280px,
);
